body {
    background-color: #FAF9F6;
    background-image: url("/static/images/bg_dots.png");
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

header h1 a {
    color: black;
    text-decoration: none;
    padding-left: 12px;
}

.card {
    display: flex;
    justify-content: right;
    justify-items: center;
    justify-self: center;
    align-items: center;
    width: 80%;
    border-color: red;
    margin: 0 auto; 
    float: none; 
    

}

.stencil_img {
    display: flex;
    align-content: center;
    justify-self: center;
    border-color: aqua;
    border-width: 10px;
    width: 100%;

}

.container {
    display: flex;
    justify-content: center;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    margin-bottom: 2rem;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: black;
}